[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
fastapi = {extras = ["standard"], version = "*"}
uvicorn = "*"
sqlalchemy = "*"
alembic = "*"
jinja2 = "*"
werkzeug = "*"
itsdangerous = "*"

[dev-packages]

[requires]
python_version = "3.13"
