body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.control-bar {
    display: flex;
    /* 設置寬度 */
    width: calc(100% - 40px); /* 調整寬度，減去外邊距 */
    justify-content: space-between;
    /* 設置外邊距 */
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    /* 設置內邊距 */
    padding: 15px;
    background-color: #333;
    color: white;
    /* 設置圓角 */
    border-radius: 10px;
    /* 固定位置 */
    position: fixed;
    z-index: 1000;
}

.control-bar button {
    background-color: #444;
    color: white;
    /* 設置邊框 */
    border: none;
    /* 設置內邊距 */
    padding: 10px;
    /* 設置圓角 */
    border-radius: 10px;
    /* 設置游標 */
    cursor: pointer;
}

.control-bar button:active { 
    background-color: #457aa0; /* 點擊時變成藍色 */ 
}

.control-bar .user-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.control-bar .user-profile img {
    width: 40px;
    height: 40px;
    /* 設置邊框 */
    border: none;
    /* 設置圓角 */
    border-radius: 50%;
}

iframe {
    width: 80%; /* iframe 宽度 */
    height: 80%; /* iframe 高度 */
    border: none; /* 去除边框 */
    margin-top: 60px; /* 控制中心高度的额外偏移 */
}

/* 容器，让 iframe 垂直水平居中 */
.iframe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; /* 占满剩余空间 */
    width: 100%; /* 宽度与视口一致 */
    margin-top: 60px; /* 调整间距，避免与固定的控制栏重叠 */
}