body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
}

h1 {
    margin: 20px 0;
}

.control-bar {
    display: flex;
    /* 設置寬度 */
    width: calc(100% - 40px); /* 調整寬度，減去外邊距 */
    justify-content: space-between;
    /* 設置外邊距 */
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    /* 設置內邊距 */
    padding: 15px;
    background-color: #333;
    color: white;
    /* 設置圓角 */
    border-radius: 10px;
    /* 固定位置 */
    position: fixed;
    z-index: 1000;
}

.control-bar button {
    background-color: #444;
    color: white;
    /* 設置邊框 */
    border: none;
    /* 設置內邊距 */
    padding: 10px;
    /* 設置圓角 */
    border-radius: 10px;
    /* 設置游標 */
    cursor: pointer;
}

.control-bar button:active { 
    background-color: #457aa0; /* 點擊時變成藍色 */ 
}

.control-bar .user-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.control-bar .user-profile img {
    width: 40px;
    height: 40px;
    /* 設置邊框 */
    border: none;
    /* 設置圓角 */
    border-radius: 50%;
}

.game-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* 調整圖片之間的間距 */
    margin-top: 120px; /* 調整以避免與固定的控制中心重疊 */
}

.image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* 居中對齊標題 */
    width: calc(33.33% - 40px); /* 每行三個圖片，減去間距 */
    margin: 10px; /* 設置圖片的外邊距 */
}

.game-image {
    width: 100%;
    height: auto;
    border: 2px solid #000;
    border-radius: 40px;
    cursor: pointer;
}

.game-title {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    text-align: center; /* 確保標題居中對齊 */
}