<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>遊戲首頁</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="control-bar">
        <button onclick="location.href='/'">首頁</button>
        <div class="user-profile" onclick="toggleProfilePopup()">
            <img src="/static/images/avatar/{{ user_avatar }}" alt="User Avatar">
        </div>
    </div>
    <div id="profile-popup" class="profile-popup">
        <div class="profile-header" onclick="toggleProfilePopup()">
            <img src="/static/images/avatar/{{ user_avatar }}" alt="User Avatar">
            <span>{{ username }}</span>
        </div>
        {% if not username %}
            <button onclick="window.location.href='/register'">註冊</button>
            <button onclick="window.location.href='/login'">登入</button>
        {% else %}
            <button onclick="window.location.href='/setting'">帳號設置</button>
            <button onclick="window.location.href='/logout'">退出登入</button>
        {% endif %}
    </div>
    <div class="game-section">
        <div class="image-container">
            <img src="/static/images/game/Minesweeper.png" alt="Minesweeper" class="game-image" onclick="location.href='/minesweeper'">
            <div class="game-title">Minesweeper</div>
        </div>
        <div class="image-container">
            <img src="/static/images/game/Memory-game.png" alt="Memory Game" class="game-image" onclick="location.href='/memory-game'">
            <div class="game-title">Memory Game</div>
        </div>
        <div class="image-container">
            <img src="/static/images/game/Spinning-top.png" alt="Spinning Top" class="game-image" onclick="location.href='/spinning-top'">
            <div class="game-title">Spinning Top</div>
        </div>
        <div class="image-container">
            <img src="/static/images/game/Solitaire.png" alt="Solitaire" class="game-image" onclick="location.href='/solitaire'">
            <div class="game-title">Solitaire</div>
        </div>
        <div class="image-container">
            <img src="/static/images/game/Snake.png" alt="Snake" class="game-image" onclick="location.href='/snake'">
            <div class="game-title">Snake</div>
        </div>
        <div class="image-container">
            <img src="/static/images/game/Tic-Tac-Toe.png" alt="Tic Tac Toe" class="game-image" onclick="location.href='/tic-tac-toe'">
            <div class="game-title">Tic Tac Toe</div>
        </div>
    </div>
    <script>
        function toggleProfilePopup() {
            var popup = document.getElementById("profile-popup");
            if (popup.style.display === "none" || popup.style.display === "") {
                popup.style.display = "block";
            } else {
                popup.style.display = "none";
            }
        }
    </script>
    <script src="/static/js/dark-mode.js"></script>
</body>
</html>