<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>登入 Login</title>
    <link rel="stylesheet" href="/static/css/control-bar.css" />
    <link rel="stylesheet" href="/static/css/auth.css" />
  </head>
  <body>
    <div class="auth-popup">
      <span class="auth-popup-icon"></span>
      <span class="auth-popup-message"></span>
    </div>
    <div class="control-bar">
      <button onclick="location.href='/'">首頁</button>
      <div class="user-profile" onclick="toggleProfilePopup()">
        <img src="/static/images/avatar/{{ user_avatar }}" alt="User Avatar" />
      </div>
    </div>
    <div id="profile-popup" class="profile-popup">
      <div class="profile-header" onclick="toggleProfilePopup()">
        <img src="/static/images/avatar/{{ user_avatar }}" alt="User Avatar" />
        <span>{{ username }}</span>
      </div>
      {% if not username %}
      <button onclick="window.location.href='/register'">註冊</button>
      <button onclick="window.location.href='/login'">登入</button>
      {% else %}
      <button onclick="window.location.href='/setting'">帳號設置</button>
      <button onclick="window.location.href='/logout'">退出登入</button>
      {% endif %}
    </div>
    <div class="content">
      <form method="POST" action="/login" class="login-form">
        <div class="form-top">
          <h2>登入</h2>
          <div class="form-links">
            <a href="/login">登入</a>
            <a href="/register">註冊</a>
          </div>
        </div>
        <div class="form-bottom">
          <div class="form-group">
            <label for="username">用戶名</label>
            <input
              type="text"
              placeholder="用戶名"
              id="username"
              name="username"
              autocomplete="username"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">密碼</label>
            <input
              type="password"
              placeholder="密碼"
              id="password"
              name="password"
              required
            />
          </div>
          <input type="submit" value="Login" />
        </div>
      </form>
    </div>
    <script>
      function toggleProfilePopup() {
        var popup = document.getElementById("profile-popup");
        if (popup.style.display === "none" || popup.style.display === "") {
          popup.style.display = "block";
        } else {
          popup.style.display = "none";
        }
      }
    </script>
    <script src="/static/js/dark-mode.js"></script>
    <script src="/static/js/auth.js"></script>
  </body>
</html>
