<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <title>登入</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="/static/css/control-bar.css">
</head>
<body>
    <div class="control-bar">
        <button onclick="location.href='/'">首頁</button>
        <div class="user-profile" onclick="toggleProfilePopup()">
            <img src="/static/images/avatar/{{ user_avatar }}" alt="User Avatar">
        </div>
    </div>
    <div id="profile-popup" class="profile-popup">
        <div class="profile-header" onclick="toggleProfilePopup()">
            <img src="/static/images/avatar/{{ user_avatar }}" alt="User Avatar">
            <span>{{ username }}</span>
        </div>
        {% if not username %}
            <button onclick="window.location.href='/register'">註冊</button>
            <button onclick="window.location.href='/login'">登入</button>
        {% else %}
            <button onclick="window.location.href='/setting'">帳號設置</button>
            <button onclick="window.location.href='/logout'">退出登入</button>
        {% endif %}
    </div>
    <div class="content">
        <form method="POST">
            <table>
                <tr>
                    <th colspan="4">Login</th>
                </tr>
                <tr>
                    <td>
                        <a href="/login">登入</a>
                        <a href="/register">註冊</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="用戶名" id="username" name="username" required><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" placeholder="密碼" id="password" name="password" required><br>
                    </td>
                </tr>
                <tr>
                    <td class="submit-container">
                        <input type="submit" value="Login">
                        {% if error %}
                            <a class="error">{{ error }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="inputChoices">
                            <input type="checkbox" name="accept" value="1" required>
                            <i aria-hidden="true"></i>
                            <span class="iconic-label">
                                我已閱讀並同意
                                <a data-xf-click="overlay">《服務協議》</a>、
                                <a data-xf-click="overlay">《隱私政策》</a>、
                                <a data-xf-click="overlay">《用戶公約》</a>、
                                <a data-xf-click="overlay">《免責聲明》</a>、
                                <a data-xf-click="overlay">《授權協議》</a>
                            </span>
                        </label>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <script>
        function toggleProfilePopup() {
            var popup = document.getElementById("profile-popup");
            if (popup.style.display === "none" || popup.style.display === "") {
                popup.style.display = "block";
            } else {
                popup.style.display = "none";
            }
        }
    </script>
    <script src="/static/js/dark-mode.js"></script>
</body>
</html>