<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>記憶遊戲</title>
    <link rel="stylesheet" href="/static/css/memory-game.css">
</head>
<body>
    <div class="control-bar">
        <button onclick="location.href='/'">首頁</button>
        <div class="user-profile" onclick="editProfile()">
            <img src="/static/images/User-avatar.png" alt="User Avatar">
        </div>
    </div>
    <div class="iframe-container">
        <iframe 
            src="https://www.novelgames.com/zh-HK/memorytricky/pwa/iframe.php?memberID=ng&settingID=gswww&hideMoreGamesButton=true" 
            title="game" 
            allowfullscreen="true">
        </iframe>
    </div>
</body>
</html>