<!DOCTYPE html>
<html>
<head>
    <title>註冊</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="control-bar">
        <button onclick="location.href='/'">首頁</button>
        <div class="user-profile" onclick="toggleProfilePopup()">
            <img src="/static/images/avatar/User-avatar.png" alt="User Avatar">
        </div>
    </div>
    <div class="content">
        <form method="POST" enctype="multipart/form-data">
            <table>
                <tr>
                    <th colspan="4">Register</th>
                </tr>
                <tr>
                    <td>
                        <a href="/login">登入</a>
                        <a href="/register">註冊</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="用戶名" id="username" name="username" required><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" placeholder="密碼" id="password" name="password" required><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="file" id="profile_image" name="profile_image" accept=".jpg, .jpeg, .png"><br>
                    </td>
                </tr>
                <tr>
                    <td class="submit-container">
                        <input type="submit" value="Register">
                        {% if error %}
                            <a class="error">{{ error }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="inputChoices">
                            <li class="inputChoices-choice">
                                <label class="iconic">
                                    <input type="checkbox" name="accept" value="1" required="required">
                                    <i aria-hidden="true"></i>
                                    <span class="iconic-label">
                                        我已閱讀並同意<a data-xf-click="overlay">《服務協議》</a> 、 <a data-xf-click="overlay">《隱私政策》</a>、<a data-xf-click="overlay">《用戶公約》</a>、<a data-xf-click="overlay">《免責聲明》</a>、<a data-xf-click="overlay">《授權協議》</a>
                                    </span>
                                </label>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <script src="/static/js/dark-mode.js"></script>
</body>
</html>