<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>貪吃蛇 Snake</title>
    <link rel="stylesheet" href="/static/css/control-bar.css" />
    <link rel="stylesheet" href="/static/css/snake.css" />
  </head>
  <body>
    <div class="control-bar">
      <button onclick="location.href='/'">首頁</button>
      <div class="user-profile" onclick="toggleProfilePopup()">
        <img src="/static/images/avatar/{{ user_avatar }}" alt="User Avatar" />
      </div>
    </div>
    <div id="profile-popup" class="profile-popup">
      <div class="profile-header" onclick="toggleProfilePopup()">
        <img src="/static/images/avatar/{{ user_avatar }}" alt="User Avatar" />
        <span>{{ username }}</span>
      </div>
      {% if not username %}
      <button onclick="window.location.href='/register'">註冊</button>
      <button onclick="window.location.href='/login'">登入</button>
      {% else %}
      <button onclick="window.location.href='/setting'">帳號設置</button>
      <button onclick="window.location.href='/logout'">退出登入</button>
      {% endif %}
    </div>
    <div class="game-container">
      <div class="top-bar">
        <img src="/static/images/game/Snake.png" alt="Snake" />
        <span>貪吃蛇 Snake</span>
        <button id="reset-button">重新開始</button>
      </div>
      <div class="status-bar">
        <div class="timer">時間：<span id="timer">0</span> 秒</div>
        <div class="score">分數：<span id="score">0</span></div>
      </div>
      <div id="snake-board" class="board"></div>
    </div>
    <div id="result-page" class="result-page">
      <h1 id="result-message"></h1>
      <button id="result-button">再玩一次</button>
    </div>
    <script>
      function toggleProfilePopup() {
        var popup = document.getElementById("profile-popup");
        if (popup.style.display === "none" || popup.style.display === "") {
          popup.style.display = "block";
        } else {
          popup.style.display = "none";
        }
      }
    </script>
    <script src="/static/js/snake.js"></script>
    <script src="/static/js/dark-mode.js"></script>
  </body>
</html>
