<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>井字棋 Tic Tac Toe</title>
    <link rel="stylesheet" href="/static/css/control-bar.css" />
    <link rel="stylesheet" href="/static/css/tic-tac-toe.css" />
  </head>
  <body>
    <div class="control-bar">
      <button onclick="location.href='/'">首頁</button>
      <div class="user-profile" onclick="toggleProfilePopup()">
        <img src="/static/images/avatar/{{ user_avatar }}" alt="User Avatar" />
      </div>
    </div>
    <div id="profile-popup" class="profile-popup">
      <div class="profile-header" onclick="toggleProfilePopup()">
        <img src="/static/images/avatar/{{ user_avatar }}" alt="User Avatar" />
        <span>{{ username }}</span>
      </div>
      {% if not username %}
      <button onclick="window.location.href='/register'">註冊</button>
      <button onclick="window.location.href='/login'">登入</button>
      {% else %}
      <button onclick="window.location.href='/setting'">帳號設置</button>
      <button onclick="window.location.href='/logout'">退出登入</button>
      {% endif %}
    </div>
    <div class="game-container">
      <div class="top-bar">
        <img src="/static/images/game/Tic-Tac-Toe.png" alt="Tic Tac Toe" />
        <span>井字棋 Tic Tac Toe</span>
        <button id="reset-button">重新開始</button>
      </div>
      <div class="status-bar">
        <span id="turn">輪到：X(玩家)</span>
        <span id="player-score">玩家勝場：0</span>
        <span id="computer-score">電腦勝場：0</span>
      </div>
      <div id="tic-tac-toe-board" class="tic-tac-toe-board"></div>
    </div>
    <div id="result-page" class="result-page" style="display: none">
      <h1 id="result-message"></h1>
      <button id="result-button">繼續遊戲</button>
    </div>
    <script>
      function toggleProfilePopup() {
        var popup = document.getElementById("profile-popup");
        if (popup.style.display === "none" || popup.style.display === "") {
          popup.style.display = "block";
        } else {
          popup.style.display = "none";
        }
      }
    </script>
    <script src="/static/js/tic-tac-toe.js"></script>
    <script src="/static/js/dark-mode.js"></script>
  </body>
</html>
